/* section */
section {
    background: white;
    margin-left: 25%;
    width: 75%;
    min-height: 100vh;
}

@media screen and (max-width: 992px) {
    aside {
        display: block;
        height: auto;
        position: relative;
        z-index: 2;
        width: 100%;
        background-color: rgba(13, 48, 145)
    }
    .aside-body {
        display: none;
    }
    main {
        position: relative;
        display: block;
        background-image: none;
    }
    .portfolio {
        position: relative;
        margin-left: 0%;
        width: 100%;
    };
}


/* portfolio */
.portfolio-inner {
    padding: 15px;
    line-height: 1.5em;
}

.portfolio-inner a {
    color: cornflowerblue;
    font-weight: 600;
}

.portfolio-title{
    font-size: 32px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
}

.portfolio-subtitle{
    font-size: 24px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
}
