* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a, a:hover {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

/* aside CSS */
aside {
    text-align: center;
    text-transform: uppercase;
    color: white;
    height: 100%;
    padding-top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 25%;
    background-color: rgba(13, 48, 145, 0.8);
}

@media screen and (max-width: 992px) {
    aside {
        display: none;
    };
}

/* aside header */
div.aside-header img {
    width: 152px;
    height: 152px;
    border-radius: 50%;
}

div.aside-header h1 {
    font-size: 24px;
    padding: 10px 0;
}

div.aside-header h2 {
    font-size: 18px;
}
/* aside-body */
.aside-body {
    padding: 35px;
    text-align: left;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.76);
}

.aside-body h3 {
    font-size: 12px;
    margin-top: 50px;
}
/* aside nav */
nav.aside-nav ul li{
    width: 100%;
    margin-top: 25px;
    font-size: 18px;
}

nav.aside-nav ul li a {
    color: rgba(255, 255, 255, 0.76);
 }

nav.aside-nav ul li a:hover {
   color: white;
}

/* aside nav socials */
.aside-nav-icons {
    width: 100%;
    margin-top: 50px;
}

nav.aside-nav-icons {
    margin-top:25px;
}

nav.aside-nav-icons ul li{
    display: inline-block;
    padding-bottom: 3px;
    margin-right: 15px;
}

nav.aside-nav-icons ul li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

nav.aside-nav-icons ul li:hover:after {
    width: 100%;
    background: white;
}

/* aside extended nav */
.aside-extended-nav {
    position: relative;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color:white;
    font-size: 18px;
    background-color: rgba(13, 48, 145, 0.8);
    z-index: 2;
    display: none;
}

.aside-extended-nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.extended-nav {
    display: none;
}

@media screen and (max-width: 992px) {
    .aside-extended-nav {
        display: flex;
    };
}


/* main css */
main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    content: "";
    background-image: url("../images/spokane.jpg"); /* "Spokane, WA" by kla4067is licensed underCC BY 2.0  */
    background-color: rgb(186, 186, 186);
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    z-index: -1;
}

/* section home CSS */
section.home {
    position: relative;
    margin-left: 25%;
    padding: 40px 20px;
    padding-left: 110px;
    padding-top: 130px;
    color: white;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
}

section.home h1 {
    font-size: 4em;
    font-weight: 500;
    margin-bottom:15px;
}

section.home h2 {
    font-size: 2em;
    font-weight: 300;
}

section.home strong {
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    section.home {
        position: relative;
        padding: 40px 20px;
        font-size: 1em;
        margin-left: 0;
    }
}

.home-buttons {
    width: 100%;
    margin-top: 50px;
    font-size: 24px;
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.home .btn {
    margin: 1em 0 0;
    float: left;
    clear: both;
    color: rgba(255, 255, 255, 0.863);
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.76);
    padding: 5px 10px;
}

.home .btn:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.171);
    border-color: white;
}

@keyframes fadeIn{0%,50%{opacity:0}to{opacity:1}};